.mainSection {
  margin-left: 350px;
  background: #141414;
  height: 100vh;
  margin-top: 10px;
  padding-right: 20px;
  border-radius: 10px;
}
h2{
  margin-top: 25px;
  margin-left: 17px;
  color: #ffff;
}
