.btn {
  border-radius: 9999px;
  font-size: 16px;
  display: inline-flex;
  padding: 7px 32px;
  border: 1px solid transparent;
  font-weight: 700;
  text-align: center;
  align-items: center;
  min-height: 48px;
  justify-content: center;
  cursor: pointer;
  transition: border-color 200ms;
  margin: 0 auto;
  width: 100%;

  & :not(svg) {
    margin: 0 auto;
  }
}

.btn.secondary {
  border: 1px solid #878787;
  background-color: transparent;
  color: rgb(255, 255, 255, 0.9);

  &:hover {
    border: 1px solid #ececec;
    color: white;
  }
}

.btn.primary {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: black;
}
