.navButton {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 600;
}

.navButton svg {
  width: 27px;
  height: 30px;
  stroke: #b3b3b3;
  margin-right: 10px;
}
