.HeaderColumnLeftTop {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 156px;
  gap: 5px;
}

.HeaderColumnLeftTop__Button {
  display: flex;
  align-items: center;
  color: #a7a7a7;
  gap: 24px;
  font-weight: 500;
  height: 40px;
}

.HeaderColumnLeftTop__Button_Icon {
  width: 20px;
  height: 20px;
}

.HeaderColumnLeftTop__LogoButton {
  width: 100%;
  position: relative;
}

.HeaderColumnLeftTop__LogoButton_Icon {
  position: absolute;
  width: 256px;
  height: 36px;

  left: -88px;
}
