.HeaderColumnLeftBottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 156px - 8px);
    margin-top: 8px;
    padding: 0 8px;
}

.HeaderColumnLeftBottom__Buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
}

.HeaderColumnLeftBottom__Buttons_LibButton {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #a7a7a7;
}

.HeaderColumnLeftBottom__Buttons_CreateButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.HeaderColumnLeftBottom__BannersContainer {
    height: 100%;
    overflow-y: scroll;
}

.HeaderColumnLeftBottom__Banner {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-bottom: 24px;
    padding-top: 16px;
    background-color: #242424;
}

.HeaderColumnLeftBottom__Banner_Paragraph {
    color: #fff;
    font-size: 12px;
    margin: 14px 0px;
}

.HeaderColumnLeftBottom__Banner_Button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 132px;
    height: 34px;
    margin-top: 8px;
    border-radius: 17px;
    color: #121212;
    background-color: #fff;
}

.HeaderColumnLeftBottom__Banner_Button_Text {
    font-size: 12px;
    font-weight: 700;
}

.HeaderColumnLeftBottom__LegalContainer {
    height: 198px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
}

.HeaderColumnLeftBottom__Legal {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-left: 12px;
    padding-right: 56px;
    line-height: 2.5;
}

.HeaderColumnLeftBottom__Legal_Link {
    font-size: 10px;
    font-weight: 400;
    color: #a7a7a7;
}

.HeaderColumnLeftBottom__LanguageButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border-radius: 17px;
    border: 1px solid #fff;
    width: 100px;
    height: 34px;
}

.HeaderColumnLeftBottom__LanguageButton_Icon {
    width: 20px;
    height: 20px;
}

.HeaderColumnLeftBottom__LanguageButton_Text {
    font-size: 14px;
    font-weight: 700;
}